@use "./components/navbar";
@use "./components/modals";
@use "./components/records";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #181a1d;
    color: #ffffff;
    font-family: "Segoe UI";
    padding: 15px;
}


.title {
    margin-top: 25px;
    font-size: 2em;
}